@charset "utf-8";

body{

  background-color:pink;
  color:black;

}

.boton {
border: 1px solid blueviolet; /*anchura, estilo y color borde*/
padding: 2px; /*espacio alrededor texto*/
background-color:wheat; /*color botón*/
color:black; /*color texto*/
text-decoration: none; /*decoración texto*/
text-transform: uppercase; /*capitalización texto*/
font-family: 'Helvetica', sans-serif; /*tipografía texto*/
border-radius: 50px; /*bordes redondos*/
}

.button {
border: 1px solid blueviolet; /*anchura, estilo y color borde*/
padding: 2px; /*espacio alrededor texto*/
background-color:wheat; /*color botón*/
color:black; /*color texto*/
text-decoration: none; /*decoración texto*/
text-transform: uppercase; /*capitalización texto*/
font-family: 'Helvetica', sans-serif; /*tipografía texto*/
border-radius: 50px; /*bordes redondos*/
}


